[user]
	name = Markus Daghall
	email = markus@daghall.se
[push]
	default = current
	followTags = true
[alias]
	jump = !~/scripts/git-jump.sh
	an = add -N
	st = status
	ci = commit
	co = checkout
	lg = log --oneline
	cmp = lg --left-right
	br = branch
	di = diff
	dis = diff --staged
	dix = diff --color-words --word-diff-regex='[a-zA-ZåäöÅÄÖ0-9]+'
	dixx = diff --color-words --word-diff-regex='[^[:space:]]'
	showx = diff --color-words --word-diff-regex='[a-zA-ZåäöÅÄÖ0-9]+'
	showxx = diff --color-words --word-diff-regex='[^[:space:]]'
	showfiles = show --name-only --format=
	vimdiff = difftool --tool vimdiff --no-prompt
	vimmerge = mergetool --tool vimdiff --no-prompt
	puff = pull --ff
	pure = pull --rebase
	uncommit = reset HEAD~ --soft
[branch "master"]
	mergeoptions = --no-ff --no-commit
	diffoptions = --no-prefix
[branch "main"]
	mergeoptions = --no-ff --no-commit
	diffoptions = --no-prefix
[color]
	ui = auto
[diff]
	mnemonicprefix = true
	renames = copies
[rerere]
	enabled = true
	autoUpdate = true
[core]
	pager = delta
[delta]
  line-numbers = true
  navigate = true
  color-moved = true
  minus-style = "syntax #6c3434"
  minus-emph-style = "syntax #952525"
  plus-style = "syntax #346234"
  plus-emph-style="syntax #259525"
  plus-non-emph-style = "syntax #346234"
[commit]
	verbose = true
