set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-ignore-case off
set colored-completion-prefix on
set show-mode-in-prompt on
set vi-ins-mode-string " "
set vi-cmd-mode-string "*"
set emacs-mode-string ""

set keymap emacs
"\ee": vi-editing-mode

set keymap vi-insert
"\ee": emacs-editing-mode

set keymap vi-command
"\ee": emacs-editing-mode
